In [14]:
import QuantLib as ql
import pandas as pd

In [2]:
date = ql.Date(31, 3, 2015)
print(date)

March 31st, 2015

In [3]:
print(f"{date.month()}-{date.dayOfMonth()}-{date.year()}")

3-31-2015

In [4]:
date.weekday() == ql.Tuesday

True

In [5]:
type(date + 1)

QuantLib.QuantLib.Date

In [6]:
print(f"Add a day        : {date + 1}")
print(f"Substract a day  : {date - 1}")
print(f"Add a week       : {date + ql.Period(1, ql.Weeks)}")
print(f"Add a month      : {date + ql.Period(1, ql.Months)}")
print(f"Add a year       : {date + ql.Period(1, ql.Years)}")

Add a day        : April 1st, 2015
Substract a day  : March 30th, 2015
Add a week       : April 7th, 2015
Add a month      : April 30th, 2015
Add a year       : March 31st, 2016

In [7]:
print(date == ql.Date(31, 3, 2015))
print(date > ql.Date(30, 3, 2015))
print(date < ql.Date(1, 4, 2015))
print(date != ql.Date(1, 4, 2015))

True
True
True
True

In [8]:
date = ql.Date(31, 3, 2015)
us_calendar = ql.UnitedStates()
italy_calendar = ql.Italy()

In [9]:
period = ql.Period(60, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)

In [10]:
print(f"Add 60 days: {raw_date}")
print(f"Add 60 business days in US: {us_date}")
print(f"Add 60 business days in Italy: {italy_date}")

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015

In [11]:
us_busdays = us_calendar.businessDaysBetween(date, us_date)
italy_busdays = italy_calendar.businessDaysBetween(date, italy_date)

print(f"Business days US: {us_busdays}")
print(f"Business days Italy: {italy_busdays}")

Business days US: 60
Business days Italy: 60

In [12]:
joint_calendar = ql.JointCalendar(us_calendar, italy_calendar)
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)

print(f"Add 60 business days in US-Italy: {joint_date}")
print(f"Business days US-Italy: {joint_busdays}")

Add 60 business days in US-Italy: June 29th, 2015
Business days US-Italy: 60

In [13]:
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates()
business_convention = ql.Following
termination_business_covention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = False

schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_covention,
                       date_generation,
                       end_of_month)

In [16]:
pd.DataFrame({"date": list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [17]:
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
penultimate_date = ql.Date(15, 12, 2015)

schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_covention,
                       date_generation,
                       end_of_month,
                       ql.Date(),
                       penultimate_date)

In [18]:
pd.DataFrame({"date": list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12  December 15th, 2015
13    January 4th, 2016

In [19]:
first_date = ql.Date(1, 2, 2015)
effective_date = ql.Date(15, 12, 2014)

schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_covention,
                       date_generation,
                       end_of_month,
                       first_date)

In [20]:
pd.DataFrame({"date": list(schedule)})

                   date
0   December 15th, 2014
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [32]:
dates = [ql.Date(2,1,2015), ql.Date(2, 2,2015),
         ql.Date(2,3,2015), ql.Date(1,4,2015),
         ql.Date(1,5,2015), ql.Date(1,6,2015),
         ql.Date(1,7,2015), ql.Date(3,8,2015),
         ql.Date(1,9,2015), ql.Date(1,10,2015),
         ql.Date(2,11,2015), ql.Date(1,12,2015),
         ql.Date(4,1,2016)]
rolling_convention = ql.Following
schedule = ql.Schedule(dates, calendar, rolling_convention)

In [33]:
pd.DataFrame({"date": list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [25]:
annual_rate = 0.05
day_count = ql.ActualActual()
compound_type = ql.Compounded
frequencey = ql.Annual

interest_rate = ql.InterestRate(annual_rate,
                                day_count,
                                compound_type,
                                frequencey)
print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding

In [28]:
t = 2.0
print(interest_rate.compoundFactor(t))
print(interest_rate.discountFactor(t))

1.1025
0.9070294784580498

In [29]:
1. / (1.05 * 1.05)

0.9070294784580498